#hd a {
  text-decoration: none;
  color: black;
}
#hd h1, #hd .iconMenu {
  width: 0;
}
#hd h1 a {
  white-space: nowrap;
}
#hd .gnb .gnb_li:hover .gnb_a {
  color: red;
}
#hd .gnb .gnb_li:hover .gnb_ul {
  max-height: 180px;
  border-radius: 0 0 30px 30px;
}
#hd .gnb .gnb_li .gnb_a {
  font-size: 1.2rem;
}
#hd .gnb .gnb_li .gnb_ul {
  min-width: 10rem;
  background-color: white;
  margin-top: -1px;
  margin-right: 4rem;
  border: 1px solid black;
  border-top: 0;
  border-bottom: 0;
  overflow: hidden;
  transform: translateX(-50%);
  left: 50%;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
  transition-delay: 1s;
}
#hd .gnb .gnb_li .gnb_ul::after, #hd .gnb .gnb_li .gnb_ul::before {
  content: "";
  display: block;
  height: 1rem;
}
#hd .gnb .gnb_li .gnb_ul #hd .gnb .gnb_li .gnb_ul:after {
  border-bottom: 1px solid black;
}