a {
  text-decoration: none;
  color: black;
}

#hd {
  position: relative;
}
#hd h1,
#hd .iconMenu {
  width: 0;
}
#hd h1 a {
  white-space: nowrap;
}
#hd .gnb:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 0;
  transition: 0.5s;
  background-color: rgba(225, 255, 255, 0.8);
}
#hd .gnb:hover:before {
  height: 180px;
}
#hd .gnb:hover .gnb_li:hover .gnb_a {
  color: red;
}
#hd .gnb:hover .gnb_li .gnb_ul {
  height: 180px;
}
#hd .gnb .gnb_li {
  padding: 0 35px !important;
}
#hd .gnb .gnb_li .gnb_a {
  font-size: 1.2rem;
}
#hd .gnb .gnb_li .gnb_ul {
  min-width: 10rem;
  overflow: hidden;
  height: 0px;
  transition: 0.5s;
  left: -35px;
  text-align: center;
}
#hd .gnb .gnb_li .gnb_ul:after, #hd .gnb .gnb_li .gnb_ul:before {
  content: "";
  display: block;
  height: 1rem;
}