#hd a {
  text-decoration: none;
}
#hd .gnb .d1:hover ul {
  display: block;
  height: 180px;
}
#hd .gnb .d1 .gnb_d1_a {
  font-size: 1.2em;
  color: black;
}
#hd .gnb .d1 ul {
  min-width: 80px;
  white-space: nowrap;
  background-color: black !important;
  height: 0;
  overflow: hidden;
  padding: 0 1rem !important;
  border: 0 !important;
  transition: 1s;
}
#hd .gnb .d1 ul.gnb_d2_ul {
  left: -2rem;
}
#hd .gnb .d1 ul li a {
  font-size: 0.85rem;
  color: white;
}