#hd a {
  text-decoration: none;
}
#hd .gnb .d1:hover ul {
  max-height: 180px;
}
#hd .gnb .d1 .gnb_d1_a {
  font-size: 1.2em;
  color: black;
}
#hd .gnb .d1 ul {
  min-width: 80px;
  white-space: nowrap;
  background-color: black !important;
  max-height: 0;
  transition: max-height 0.5s;
  overflow: hidden;
  padding: 0 1rem !important;
  border: 0 !important;
}
#hd .gnb .d1 ul:before, #hd .gnb .d1 ul:after {
  content: "";
  display: block;
  height: 16px;
}
#hd .gnb .d1 ul.leftul {
  left: -2rem;
}
#hd .gnb .d1 ul li a {
  font-size: 0.85rem;
  color: white !important;
}