#hd{
    a{
        text-decoration: none;
    }
    .gnb{  
        
        &:hover{
                //대메뉴의 롤오버시 소메뉴 노출
                ul{
                   max-height:180px !important;
                }
            }
        .d1{
            //대메뉴 li
          
            .gnb_d1_a{
                //대메뉴
               font-size: 1.2em;
               color:black;
            }
            ul{
                //소메뉴
                min-width: 80px;
                white-space: nowrap;
                background-color: black !important;
                max-height: 0;
                transition: max-height 0.5s;
                overflow: hidden;
                padding: 0 1rem !important;
                border:0 !important;
                
                &:before,
                &:after{
                    content:"";
                    display:block;
                    height:16px;

                }


                &.leftul{
                    left:-2rem;
                }               
                li{
                    a{
                        font-size: 0.85rem;
                        color:white !important;
                    }
                }
            }

        }
    }
}














