#hd{ 
    
    a{text-decoration: none; }
    .gnb{
       
        .d1{
            //대메뉴 li

            &:hover{
                // 대메뉴의 롤오버사 소메뉴 노출
                ul{
                    display:block;
                    max-height: 150px;
                    transition: max-height 10s ease-in-out!important;
                    overflow: auto;
                }
            }
            .gnb_d1_a{
                //대메뉴
                font-size: 1.2em;
                color: black;
               
            }
            
        
            ul{
                // 소메뉴
                min-width: 80px;
                white-space: nowrap;
                background-color: black !important;
                display: none;
                &.gnb_d2_ul{
                    // 소메뉴 위치 이동
                    left: -2rem;
                }
            
                li{
                  // 소메뉴 li
                    a{
                     font-size: 0.85rem;
                     color:white;
                    }
                }
            }
        }
    }
}